# Dictionary and Set

### Creating Dictionary

Dictionaries are set of key and value pairs, keys are the index of the dictionary to call the corrusponding value.

In [1]:
# Empty dictionary 

empty_d = {} ; empty_d

{}

In [2]:
# Simple dictionaries

simple_d = {'a':'apple', 'b':'ball', 'c':'cat'} ; print(simple_d)
simple_d2 = {'name':'Hal Jordan','sector':2814} ; print(simple_d2)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'name': 'Hal Jordan', 'sector': 2814}

In [3]:
# Creating using dict() function : no need to use quotes for keys

simple_d3 = dict(a=1, b=2, c=3) ; print(simple_d3)

{'a': 1, 'b': 2, 'c': 3}

In [4]:
# creating dictionary from lists : zip() function that will Iterate over the two lists in parallel.

k = ['x','y','z']
v = [10,20,30]

list_d = dict(zip(k,v)) ; list_d

{'x': 10, 'y': 20, 'z': 30}

In [5]:
# creating using fromkeys method of dictionary , 
# arguments are list of keys and common value for all keys

k = ['hi','hello','there']

fromkey_d = dict.fromkeys(k, 10) ; fromkey_d

{'hi': 10, 'hello': 10, 'there': 10}

### Dictionary Methods

In [6]:
# clear() - the dictionary delete all elements

simple_d3.clear() ; simple_d3

{}

In [7]:
# copy() - make copy of dictionary

simple_d3 = list_d.copy() ; simple_d3

{'x': 10, 'y': 20, 'z': 30}

In [8]:
# get(*) - return the value for key passed as argument

simple_d3.get('y')

20

In [9]:
# items() - return list of tuples of key value pair

simple_d3.items()

dict_items([('x', 10), ('y', 20), ('z', 30)])

In [10]:
# keys() - return list of keys
# values() - return list of values

keys = simple_d3.keys() ; print(keys)
values = simple_d3.values() ; print(values)

dict_keys(['x', 'y', 'z'])
dict_values([10, 20, 30])

In [11]:
# pop(*) - remove the key value pair from the dict , argument is key

z = simple_d3.pop('z') ; print(z)
print(simple_d3)

30
{'x': 10, 'y': 20}

In [16]:
# update(*) - insert the key value pair in the dict
simple_d3.update({'u':[11,22,33]})

# Inserting the key value in the dict
simple_d3['z'] = 30 ; print(simple_d3)

# popitem() - remove the last inserted item from dictionary
simple_d3.popitem() ; print(simple_d3)

{'x': 10, 'y': 20, 'u': [11, 22, 33], 'v': 1000, 'z': 30}
{'x': 10, 'y': 20, 'u': [11, 22, 33], 'v': 1000}

In [18]:
# setdefault(*) - argument key,value. 

# If the key is present it return the value associated with the key, and not the provided one
print(simple_d3.setdefault('x',1000))

# If the key is not in the list then it will add the key and value provided to the dictionary
simple_d3.setdefault('v',1000) ; print(simple_d3)

10
{'x': 10, 'y': 20, 'u': [11, 22, 33], 'v': 1000}

### Accessing the key and values

In [17]:
# passing key as index and second barcket index for element of list in it
simple_d3['u'][1]

22

### Iteration through key and value

In [29]:
for (k,v) in simple_d3.items():
    print(f'key - {k} , value - {v}')

key - x , value - 10
key - y , value - 20
key - u , value - [11, 22, 33]
key - v , value - 1000

In [30]:
for k in simple_d3.keys():
    print(f'key - {k}')

key - x
key - y
key - u
key - v

In [31]:
for v in simple_d3.values():
    print(f"value - {v}")

value - 10
value - 20
value - [11, 22, 33]
value - 1000

# Set

Set is collection which is unordered and unindexed.
Sets are unchangeable and duplicates are not allowed in set

### Creating set

In [47]:
# Creating set using curly brackets 
simple_s = {'hi','123',321,True} ; print(simple_s)

# creating set using set() operator
set_2 = set(('hi','one','two',123,False, False)) ; print(set_2)

# creating set of numbers
num_s = {11,33,3,1,28,3.6} ; print(num_s)

# list to set
list_set = set(['a','b','c']) ; print(list_set)

{'hi', 321, '123', True}
{False, 'two', 'one', 'hi', 123}
{33, 1, 3, 3.6, 11, 28}
{'b', 'c', 'a'}

### accessing the elements in set

In [49]:
# using for loop
for i in simple_s:
    print(i)
    
# checking the element is in set
print('a' in list_set)

hi
321
123
True
True

### Set methods

In [74]:
# clear() - clear the set and make it empty
# copy() - copy set to another variable
# del - delete the entire set variable 

dup_s = simple_s.copy() ; print(dup_s)
dup_s.clear() ; print(dup_s)
del dup_s

{False, 321, True, 99, 'two', 'smile', 'add', '123', 'one', 'hi', 'R', 'Python', 123}
set()

In [86]:
# add(*) - Adding single element to the set
# update() - adding multiple elements, we can add any iterable like list,tuple or set 

simple_s.add('add') ; print(simple_s)
simple_s.update(['one','smile', 123]) ; print(simple_s)
simple_s.update(('two','so', 99)) ; print(simple_s)
simple_s.update({'R','Python',False}) ; print(simple_s)

# remove() - remove the item from the set , if item not in set it will raise error
# discard() - remove the item from set , if item not exitst in set , wont raise error
# pop() - remove last added element of the set 

simple_s.remove('so') ; print(simple_s)
simple_s.discard('RR') ; print(simple_s)
simple_s.pop() ; print(simple_s)

{False, 321, True, 99, 'two', 'smile', 'Python', '123', 'one', 'hi', 'R', 'add', 123}
{False, 321, True, 99, 'two', 'smile', 'Python', '123', 'one', 'hi', 'R', 'add', 123}
{False, 321, True, 99, 'two', 'smile', 'Python', '123', 'one', 'so', 'hi', 'R', 'add', 123}
{False, 321, True, 99, 'two', 'smile', 'Python', '123', 'one', 'so', 'hi', 'R', 'add', 123}
{False, 321, True, 99, 'two', 'smile', 'Python', '123', 'one', 'hi', 'R', 'add', 123}
{False, 321, True, 99, 'two', 'smile', 'Python', '123', 'one', 'hi', 'R', 'add', 123}
{321, True, 99, 'two', 'smile', 'Python', '123', 'one', 'hi', 'R', 'add', 123}

In [75]:
# difference(*) - returns the differenc i.e. elements only in the first set

a = {1,2,3}
b = {3,4,5}

print(a.difference(b)) # items only present in a
print(b.difference(a)) # items only present in b

{1, 2}
{4, 5}

In [80]:
# difference_update(*) - check the unique element in set a which are not in b and save only those in a

a = {1,2,3}
b = {3,4,5}
c = {5,4,6}

a.difference_update(b); print(a)
b.difference_update(c); print(b)

{1, 2}
{3}

In [84]:
# intersection(*) - return only common elements in both sets a and b
# intersection_update(*) - return only common elements and save in a

a = {1,2,3}
b = {3,4,5}
c = {5,4,6}

print(a.intersection(b))
c.intersection_update(b) ; print(c)

{3}
{4, 5}

In [101]:
# symmetric_difference(*) - keep unique elelement present in both sets and delete common elements
# symmetric_difference_update(*) - keep unique elelement present in both sets and delete common elements save in a

a = {1,2,3}
b = {3,4,5}
c = {5,6,7}

print(a.symmetric_difference(b))
print(b.symmetric_difference(a))
b.symmetric_difference_update(c); print(b)

{1, 2, 4, 5}
{1, 2, 4, 5}
{3, 4, 6, 7}

In [103]:
# union(*) - combine all elemenets of both sets and remove duplicate if any

a = {1,2,3}
b = {3,4,5}
c = {5,6,7}

print(a.union(b))
print(b.union(c))

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [107]:
# isdisjoint(*) - return True if no item in set a is presetn in set b

a = {1,2,3}
b = {3,4,5}
c = {6,7,8}

print(a.isdisjoint(a))
print(b.isdisjoint(c))

False
True

In [112]:
# issubset(*) - if all element of a present in b then a is subset of b and return True
# issuperset(*) - if b contains all elements of a then b is the superset of a 

a = {1,2,3}
b = {1,2,3,4}
c = {6,7,8}

print(a.issubset(b))
print(b.issubset(c))
print(b.issuperset(a))

True
False
True