# List Methods and slicing

## Creating the lists

blank list

In [1]:
blank_l = []

Simple list

In [2]:
simple_l = [1,2,3,4];simple_l

[1, 2, 3, 4]

List with range function

In [3]:
range_l = [*range(0,5)] ; range_l # We can use argument-unpacking operator i.e. *.

[0, 1, 2, 3, 4]

List with mixed data types

In [4]:
mixed_l = ['hello',1,9.5,True, ('hi',123)] ; mixed_l

['hello', 1, 9.5, True, ('hi', 123)]

Nested list

In [5]:
nested_l = [2,['hi',88,9.5,mixed_l],55]; nested_l

[2, ['hi', 88, 9.5, ['hello', 1, 9.5, True, ('hi', 123)]], 55]

## List methods

append(*) method : add the element in the end of the list, only one element can be added at a time.

In [6]:
simple_l.append('letter'); simple_l

[1, 2, 3, 4, 'letter']

clear() method : delete all the elements of the list

In [7]:
simple_l.clear(); simple_l

[]

copy() method : copy the list make another instance of the list , below we copied list range_l and make new list simple_l

In [8]:
simple_l = range_l.copy() ;simple_l

[0, 1, 2, 3, 4]

count(*) method : Return the number of times element in the list, the element in nested lists are not counted

In [9]:
simple_l.count(1)

1

In [10]:
[1,[1,2,3]].count(1)

1

extend(*) method : add mutiple element as list or add existing list to another list

In [11]:
simple_l.extend(['a','b','c']) ; simple_l

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [12]:
mixed_l.extend(simple_l) ; mixed_l

['hello', 1, 9.5, True, ('hi', 123), 0, 1, 2, 3, 4, 'a', 'b', 'c']

index(*) method : return the index of the element

In [13]:
simple_l.index('a')

5

insert(*) method : insert the element in list at desired index, syntax: insert(index,element)

In [14]:
simple_l.insert(0, 'first_element') ; simple_l

['first_element', 0, 1, 2, 3, 4, 'a', 'b', 'c']

pop(*) method : pop the element at index out of the list , pop function also return popped element as result

In [15]:
x = simple_l.pop(0)

In [16]:
print("list after poping the element at position 0 - ", simple_l)
print("popped element : ", x)

list after poping the element at position 0 -  [0, 1, 2, 3, 4, 'a', 'b', 'c']
popped element :  first_element

remove(*) method : remove the first occurance of element given in argument

In [17]:
simple_l.remove('a');simple_l

[0, 1, 2, 3, 4, 'b', 'c']

reverse() method : Reverse the list. (this method affects the original list)

In [18]:
simple_l.reverse();simple_l

['c', 'b', 4, 3, 2, 1, 0]

sort(reverse = True/False) : sort the list in descending or ascending order.
sort(key = function) : any functino can be used as key , key as base for sorting.

In [19]:
range_l.sort(reverse = True);range_l

[4, 3, 2, 1, 0]

In [20]:
sorting = ['hello','piyush','India','USA','Pacific']
sorting.sort(key = len) ; sorting # sorted as increasing length

['USA', 'hello', 'India', 'piyush', 'Pacific']

## List Slicing

### Slicing of simple list with positive indexes, please note index in python start with 0

In [21]:
 # print single element from list at positiion of index
simple_l[1]

'b'

In [22]:
# print all the elements of list 
simple_l[:]

['c', 'b', 4, 3, 2, 1, 0]

In [23]:
# print all from 3rd index including 3rd
simple_l[3:]

[3, 2, 1, 0]

In [24]:
# print all before 4th index excluding 4th.
simple_l[:4]

['c', 'b', 4, 3]

In [25]:
# print from 2nd index to 4th index excluding 4th.
simple_l[2:4]

[4, 3]

In [26]:
# print second last index using negative indexing
simple_l[-2]

1

In [27]:
# print all from second last element to end of list
simple_l[-2:]

[1, 0]

In [28]:
# print all till second last element except second last
simple_l[:-2]

['c', 'b', 4, 3, 2]

In [29]:
# printing slice of list using negative indexes
simple_l[-4:-1]

[3, 2, 1]

In [30]:
# 3rd argument is step size here print element at every 2 step
simple_l[::2]

['c', 4, 2, 0]

In [31]:
# using negative indexing to reverse the list, it wont affect the original list
simple_l[::-1]

[0, 1, 2, 3, 4, 'b', 'c']

In [32]:
# reverse every 2nd element
simple_l[::-2]

[0, 2, 4, 'c']

### Slicing the Nested lists

In [33]:
# our nested list we have created earlier for reference purpose
nested_l

[2,
 ['hi',
  88,
  9.5,
  ['hello', 1, 9.5, True, ('hi', 123), 0, 1, 2, 3, 4, 'a', 'b', 'c']],
 55]

In [34]:
# accessing the nested list first reference [1] for outer list and [3] reference for inner list
nested_l[1][3]

['hello', 1, 9.5, True, ('hi', 123), 0, 1, 2, 3, 4, 'a', 'b', 'c']

In [35]:
# accesing the element of nested list 
nested_l[1][3][5]

0

In [36]:
# we can use the slicing inside list as well
nested_l[1][3][1:5]

[1, 9.5, True, ('hi', 123)]

In [37]:
# we can also use the negative indexes
nested_l[1][-2]

9.5

In [38]:
# accessed the element of nested tuple in nested list
nested_l[1][3][4][0]

'hi'

### List Comprehension

In [39]:
# Element in brackets [operation_on_i for i in list]
    # operation on i : apply any function on the element of list i.e. "i" here
    # for : loop to go through the list to perform the operation
    # i : refering to each element in the list to iterate through
    # in : syntax 
    # list : refere to the list or object like lists with collection of element
    
a = [i**2 for i in range(10)] ;a

# we have squared the each element of the list made with range(*) function.

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
# Example with list
b = [i+i for i in simple_l] ;b

['cc', 'bb', 8, 6, 4, 2, 0]

In [41]:
# example with tuple
c = [i*3 for i in (1,2,3,4,5,6,7)] ;c

[3, 6, 9, 12, 15, 18, 21]